<h4 class="card-header">Create new Group</h4>
<ngx-spinner></ngx-spinner>
<table>  
  <tr>
      <td>Please enter Group Title:</td>
      <td>
          <input type="text" id="groupTitleId" [(ngModel)]="this.groupTitle"/>
      </td>    
  </tr>


  <tr>
      <td>&nbsp;</td>
      <td>
        <button [disabled]="loading" class="btn btn-primary" (click)="OnCreateClick()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create
        </button>
      </td>    
  </tr>
 
</table>