<h4 class="card-header">Invite new Employees</h4>
<ngx-spinner></ngx-spinner>
<table>  
  <tr>
    <td>Name:</td>
    <td>
        <input type="text" id="nameId" [(ngModel)]="this.name"/>
    </td>    
</tr>

  <tr>
      <td>Email Address:</td>
      <td>
          <input type="text" id="emailId" [(ngModel)]="this.email"/>
      </td>    
  </tr>


  <tr>
      <td>&nbsp;</td>
      <td>
        <button [disabled]="loading" class="btn btn-primary" (click)="OnCreateClick()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create
        </button>
      </td>    
  </tr>
 
</table>