<h4 class="card-header">Employee Skills Master Data</h4>
<ngx-spinner></ngx-spinner>
<table>  
  <tr>
    <td>Title:</td>
    <td>
        <input type="text" id="titleId" [(ngModel)]="this.title"/>
    </td>    
</tr>

  <tr>
      <td>&nbsp;</td>
      <td>
        <button [disabled]="loading" class="btn btn-primary" (click)="OnCreateClick()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create
        </button>
      </td>    
  </tr>
 
</table>