<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>

        <a class="nav-item nav-link" routerLink="/invitations">Invitations</a>
        <a class="nav-item nav-link" routerLink="/skills">Skills</a>
        <a class="nav-item nav-link" routerLink="/search">Search</a>

        <a class="nav-item nav-link" routerLink="/mySkills">My Skills</a>
        
        <a class="nav-item nav-link" routerLink="/" (click)="logout()">Logout</a>
    </div>
</nav>

<router-outlet></router-outlet>
