table {
    width: 100%;
    
    td, th { 
       
    }
    
    td {
       text-align: center;
       vertical-align: middle;
       
       &:last-child {
          font-size: 0.95em;
          line-height: 1.4;
          text-align: left;
       }
    }
    
    th { 
       
       font-weight: 300;
    }
    
    tr {     
       &:nth-child(2n) { background-color: white; }       
    }
 }
 